/***************************
****************************
Global Styles
****************************
***************************/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
}

#map-canvas {
	width: 100%;
	height: calc(100% - 36px);
	margin: 0;
	padding: 0;
}

#app {
	display: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 500;
	margin-bottom: 3px;
}

h4 {
	font-weight: 300;
	margin-bottom: 5px;

}

/***************************
****************************
Splash elements
****************************
***************************/

#splash {
	width: 100%;
	height: 100%;
	background: url(../img/58348202.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
	text-align: center;
	padding: 0;
}

#splash input[type="text"] {
	width: 400px;
	margin: 0;
	font-family: sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 42px;
	font-weight: 300;
	background: transparent;
	border-bottom: 2px solid #000;
}

#splash input[type="text"]:focus {
	outline: none;
	box-shadow: none;
}

#splash input[type="submit"] {
	margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 26px;
    padding: 10px 5px;
    text-align: center;
    -webkit-user-select: none;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: default;
    border: none;
    background-color: transparent;
    display: none;
}

#splash input[type="submit"]:hover {
	cursor: pointer;
	text-decoration: underline;
}

.icon-more {
	font-size: 18px;
	font-weight: 300;
	position: relative;
	top: 1px;
	display: none;
}

#splash-title {
	font-size: 36px;
	font-weight: 300;
	padding-top: 160px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}

/***************************
****************************
Filter search
****************************
***************************/

#search {
	width: 100%;
	height: 36px;
	border-bottom: 1px #cccccc solid;
}

#label-div {
	float: left;
	width: 80px;
	text-align: center;
	height: 36px;
	background-color: #f3f3f3;
	border-right: 1px #cccccc solid;
}

#search-label {
	font-weight: 300;
	font-size: 17px;
	line-height: 36px;
}

#search-input {
	margin-left: 81px;
	position: relative;
}

input[type="text"] {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 36px;
	font-weight: 300;
	appearance: none;
	border-radius: none;
	padding: 0 8px;
	border: none;
	transition: box-shadow 0.3s, border 0.3s;
	box-shadow: none;
}

input[type="text"]:focus {
	outline: none;
	box-shadow: 0 0 5px 0 #969696;
}

#autocomplete {
	position: absolute;
	z-index: 2;
	background: transparent;
}

#autocomplete-x {
	color: #CCC;
	position: absolute;
	background: transparent;
	z-index: 1;
}

.autocomplete-suggestions { display: none; }
.autocomplete-suggestion { display: none; }
.autocomplete-no-suggestion { display: none; }
.autocomplete-selected { display: none; }
.autocomplete-group { display: none; }

/***************************
****************************
location search
****************************
***************************/

#location-search {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 90;
}

#location-search input[type="text"] {
	width: 120px;
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: 36px;
	font-weight: 300;
	appearance: none;
	border-radius: none;
	padding: 0 8px;
	border: none;
	transition: box-shadow 0.3s, border 0.3s;
	box-shadow: 0 0 5px 0 #c9c9c9;
}

#location-search input[type="text"]:focus {
	outline: none;
	box-shadow: 0 0 5px 0 #969696;
}

#location-search input[type="submit"] {
	margin: 0;
    font-size: 16px;
    line-height: 26px;
    height: 35px;
    width: 50px;
    padding: 0;
    margin-left: 10px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: default;
    color: #000000;
    border: #000000 solid 1px;
    background-color: #ffffff;
}

#location-search input[type="submit"]:hover {
	cursor: pointer;
	color: #ffffff;
    background-color: #000000;
}

/***************************
****************************
Location list
****************************
***************************/

#list-view {
	float: left;
	height: calc(100% - 36px);
	width: 260px;
	overflow-y: auto;
	background-color: #fff;
	position: absolute;
	display: none;
	z-index: 99;
}

.relative {
	position: absolute;
}

#show-list {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
	cursor: pointer;
}

ul {
	padding: 0;
	margin: 0;
}

#list-view li {
	display: inline-block;
	padding: 10px 0 10px 15px;
	margin: 0;
	width: 245px;
	border-bottom: 1px #cccccc solid;
	font-weight: 300;
	font-size: 15px;
	cursor: pointer;
	background-color: #fff;
}

/***************************
****************************
Info Window
****************************
***************************/

#info-window-inner {
	max-width: 290px;
	max-height: 500px;
}

#yelp-image {
	max-width: 100%;
}

#address {
	margin: 0;
	font-style: italic;
	font-size: 12px;
}

#review {
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	margin: 15px 20px 0 20px;
	position: relative;
}

#review:before, #review:after {
	font-family: Georgia, serif;
	content: "\201C";
	position: absolute;
	font-size: 50px;
	line-height: 1;
	color: #999;
	opacity: .5;
	font-style: normal;
}

#review:before {
	top: -10px;
	left: -18px;
}

#review:after {
	content: "\201D";
	right: -10px;
	bottom: -0.5em;
}

#readmorelink {
	width: 100%;
	text-align: right;
	margin-top: 0;
}

#readmorelink a {
	text-decoration: none;
	color: #999;
	font-size: 11px;
	margin-top: 0;
}

#readmorelink a:hover {
	text-decoration: underline;
}

#stars {
	margin: 5px 10px 0 0;
	width: 90px;
	float: left;
}

#starsimg {
	max-width: 100%;
}

#review-count p {
	margin-left: 91px;
	margin-top: 5px;
	font-weight: 500;
	font-style: normal;
}

#info-window-inner li {
	display: inline;
}

#info-window-inner ul img {
	width: 70px;
	height: 70px;
	border-style: none;
	cursor: pointer;
}

.instagram_error {
	font-style: italic;
	display: none;
}

/***************************
****************************
Photoswipe
****************************
***************************/

.pswp__caption__center a {
	text-decoration: none;
	color: #bbb;
	padding-left: 3px;
}

.pswp__caption__center a:hover {
	text-decoration: underline;
}

/***************************
****************************
Media queries
****************************
***************************/

@media only screen and (max-width: 600px) {
	#splash input[type="text"] {
		width: 80%;
	}
}

@media only screen and (max-width: 400px) {
	#info-window-inner {
		max-height: 350px;
	}

	#location-search {
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
}

@media only screen and (max-height: 300px) {
	#splash-title {
		padding-top: 50px;
	}
}

@media only screen and (max-height: 600px) and (min-height: 300px) {
	#splash-title {
		padding-top: 80px;
	}
}

@media only screen and (min-height: 600px) {
	#splash-title {
		padding-top: 160px;
	}
}